   body {
     background-color: #ff8c94;
   }

   img {
     height: 350px;
     width: 225px;
   }

   hr {
     border-color: Black;
     border-style: none;
     border-top-style: dotted;
     border-width: 5px;
     width: 10%;
   }

   h1 {
     color: #ff2e63;
   }

   h3 {
     color: #ff2e63;
   }
